@import url('https://fonts.googleapis.com/css2?family=K2D:wght@100;200;300;400;500;600;700;800&display=swap');

:root{
    --bgColo: #030637;
    --verbel_2 : #910A67;
    --verbel_3 : #3C0753;
    --font_k2d :'K2D', sans-serif;

}
::selection{
    background-color: var(--verbel_3);
    color: #eee;
}
*{
    margin: 0;
    padding: 0; 
    scroll-behavior: smooth;
}
body{
   
}
.container{
    width: 100%;
    height: 100%;
    background-color: var(--bgColo);
  
}
.frame1{
    width: 100%;
    height: 100%;
    background-color: rgba(137, 43, 226, 0);
    position: relative;
}
.frame1 img{
    width: 100%;
height: 100%;
object-fit: cover;
}
.MatchCom{
    color: #ffff;
    font-size: 48px;
    font-family: var(--font_k2d);
    position: absolute;
    top: 5%;
    left: 5%;
}
.linkgroupe{
    
    
    font-family: var(--font_k2d);
    position: absolute;
    top: 5%;
    right: 5%;
}
.linkgroupe ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    gap: 50px;
}
.linkgroupe ul li a{
    color: #ffff;
    font-size: 25px;
    font-family: var(--font_k2d);
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
}
.linkgroupe ul li:first-child a ,.linkgroupe ul li:nth-child(2) a {
    padding: 20px;
    border: 5px solid var(--verbel_2);
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 2px;
}
.linkgroupe ul li:nth-child(3) a {
    width: 44px;
    height: 44px;
    padding: 15px;
    border-radius: 50%;
    background-color: var(--verbel_2);
    font-size: 28px;
}
.linkgroupe ul li:nth-child(4) a {
    width: 150px;
    height: 35px;
    padding: 15px;
    border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: var(--verbel_2);
  font-size: 28px;
  
}
.linkgroupe ul li:nth-child(4) a span{
    width: 30px;
    height: 30px;
    padding: 10px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--verbel_3);
    font-size: 30px;
}
.busTitle{
    position: absolute;
    bottom: 10%;
    left: 5%;
    color: #eeee;
    font-size: 55px;
    font-family: var(--font_k2d);
    
}
.paraghraf{
    width: 60%;
    position: absolute;
    bottom: 45%;
    left: 5%;
    color: #eeee;
    font-size: 35px;
    font-family: var(--font_k2d);
    font-weight: 600;
    
}
.groupebtn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;    
    position: absolute;
    bottom: 27%;
    left: 7%;
    background-color: #910a6600;
}
.groupebtn .btn1 a{
    width: 231px;
    height: 59px;
    font-size: 25px;
    font-weight: 600;
    font-family: var(--font_k2d);
    background-color: var(--verbel_2);
    color: #eeee;
    text-decoration: none;
    padding: 20px 25px;
    border-radius: 15px;
}
.groupebtn .btn2{
    width: 231px;
    height: 41px;
    border-radius: 50px;
    font-size: 20px;
    font-weight: 600;
    font-family: var(--font_k2d);
    background-color: var(--verbel_2);
    color: #eeee;
    text-decoration: none;
}
.groupebtn .btn2 ul{
    width: 100%;
    height: 100%;
display: flex;
justify-content: center;
align-items: center;
margin: auto;
gap: 20px;
}
.groupebtn .btn2 ul li{
    width: 30px;
    height: 30px;
    background-color: #3C0753;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
}
.groupebtn .btn2 ul li a{
    text-decoration: none;
    display: flex;
    align-items: center;
justify-content: center;

}

.frame2{
    width: 100%;
    height: auto;
    background-color: #720455;
    overflow: hidden;
}

.frame2 .gourpecardimg{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    background-color: rgba(210, 105, 30, 0);
    transition: all 5s ease;
    animation:4s linear  cardsrcol;
    overflow: hidden;
}
 @keyframes cardsrcol {
    0% {

        transform: translateX(100%); 
    }
  
    100% {
        transform: translateX(0);
      }
      
} 

.frame2 .gourpecardimg .cardimg{
width: 230px;
height: 182px;
padding: 15px 0;

}
.frame2 .gourpecardimg .cardimg img{
width: 100%;

}

.frame3 .title{
    width: 100%;
    height: 150px;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-family: var(--font_k2d);
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;


    display: flex;
    justify-content: center;
    align-items: center;

}
.frame3 .prtyForCardImg{
    width: 100%;
    height: 100%;
    flex-shrink: 0;
background-color: var(--verbel_3);
display: flex;
justify-content: center;
align-items: center;
flex-direction: row;
flex-wrap: wrap;
gap: 20px;
padding: 20px 0;
}
.frame3 .prtyForCardImg .CardImgMovie{
    width: 350px;

}
.frame3 .prtyForCardImg .CardImgMovie img{
    width: 100%;
    height: 100%;

}
.frame4{
    width: 100%;
    height: auto;
    background-color: #ae78c600;
}
.frame4 .title{
    width: 706px;
    height: 120px;
    color: #FFF;
    text-align: center;
    font-family: var(--font_k2d);
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: flex;
    justify-content: center;
    align-items: center; 
       margin: auto;

}
.frame4 .partyForCradCOLL{
width: 100%;
height: 90%;
display: flex;
flex-direction: row;
flex-wrap: wrap;

background: #3c075300;
}
.frame4 .partyForCradCOLL .Cardplan{
    width: auto;
    height: auto;
background-color: #72045500;
}
.frame4 .partyForCradCOLL .Cardplan:nth-child(2){
    background-color: rgba(41, 41, 225, 0);
    width: 70%;


}
.frame4 .partyForCradCOLL .Cardplan:nth-child(2) img{
width: 100%;
}
.frame4 .partyForCradCOLL .Cardplan:nth-child(1){
    background-color: rgba(35, 35, 59, 0);
width: 30%;
display: flex;

}
.frame4 .partyForCradCOLL .Cardplan:nth-child(1) img{

width: 100%;

}
.frame4 .partyForCradCOLL .Cardplan:nth-child(3){
    background-color: rgba(0, 0, 255, 0);
width: 70%;

display: flex;
justify-content: center;
align-items: center;
flex-direction: row;
gap: 10px;
}
/* .frame4 .partyForCradCOLL .Cardplan:nth-child(3) .Cardplan1{
background-color: rgba(127, 255, 212, 0);
width: 30%;
display: flex;
justify-content: center;
align-items: center;
}
 */
 .Cardplan2{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: #3c075300;
 }

 .Cardplan1{
height: 350px;
    background-color: #3c075300;
 }


 .frame5{
    width: 100%;
    height: 100%;
    padding-top: 10px;
 }
 .frame5 .title{
    width: 706px;
    height: 164px;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-family: var(--font_k2d);
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: auto;
 }
 .frame5 .party{
    width: 90%;
   height: 100%;
    background-color: #910a6600;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
   
 }
 .frame5 .party .content1{
width: 40%;
height: auto;
background-color: rgba(137, 43, 226, 0);
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
gap: 100px;
padding: 70px 0;

 }
 .frame5 .party .content2{
width: 10%;
height: 100%;
background-color: rgba(8, 133, 210, 0);
display: flex;
justify-content: center;
align-items: center;
 }
 .frame5 .party .content2 .liner{
width: 20px;
height: 1300px;
background-color: #910A67A3;
border-radius: 20px;
   
 }
 .frame5 .party .content3{
width: 40%;
height: 700px;
background-color: rgba(226, 223, 43, 0);
display: flex;
gap: 100px;
   flex-direction: column;
   padding: 70px 0;
 }


 .frame6{
    width: 100%;
    min-height: 500px;
    background-color: rgba(0, 255, 255, 0);
    display: flex;
    justify-content: center;
    align-items: end;
 }
 .frame6 .party{
     
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: start;
    flex-wrap: wrap;
    gap: 20px;
    padding: 30px 0 ;
    background-color: rgba(137, 43, 226, 0);
    
 }
 .frame7{
    width: 100%;
    height: 60px;
    
 }
 .frame7 .copyrghit{
    width: 90%;
    color: #FFF;
    font-family: var(--font_k2d);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 2.2px;
    margin: auto;
    padding: 10px;
 }










::-webkit-scrollbar{
width: .7em;
}
::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color: var(--verbel_2);
}
::-webkit-scrollbar-track{
    background-color:var(--bgColo);
}